* {
  margin: 0%;
}
h1,h2,h3{
    margin: 40px;
}
header {
  background-color: rgb(92, 58, 141);
  grid-area: header;
}
nav {
  background-color: rgb(58, 141, 102);
  grid-area: nav;
}
main {
  background-color: brown;
  grid-area: main;
  margin: 0vw 5vw;
  padding: 0% 5vw;
}
.portadaDestino{
    display: flex;
    justify-content: center;
}
.imgDestino {
  border-radius: 30px;
}
.alojamiento {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  gap: 3vw;
  
}
.mapaHospedaje{
    height: auto;
    width: auto;
}

.ubiHospedaje{
    background-color: azure;
    width: auto;
    height: auto;
}
footer {
  background-color: rgb(172, 151, 151);
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template:
    "header" 100px
    "nav" 50px
    "main" auto
    "footer" 100px;
}
